.CurrentTemp {
  font-size: 90px;
  font-weight: 700;
  text-align: center;
}

.CurrentTemp small {
  font-size: 20px;
  font-weight: bold;
  position: relative;
  bottom: 45px;
  padding-left: 10px;
}
