body {
  background: linear-gradient(
    90deg,
    rgb(223, 234, 247) 11.2%,
    rgb(244, 248, 252) 91.1%
  );
}

.Weather .weather-app {
  padding: 30px;
  padding-bottom: 10px;
}

/* setup on page, font assignment for all text except footer */
.Weather .weather-app-wrapper {
  margin: 50px auto 20px;
  max-width: 800px;
  background-color: white;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 10px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  color: rgb(77, 77, 77);
}

.Weather h1 {
  text-align: center;
}

.Weather .loader {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
